html, body, #root {
  height: 100%;
  color: white;
  font-size: 50px;
  font-family: 'helvetica neue', 'helvetica';
  background-color: gray;
}

.Debug {
  font-size: 12px;
  position: absolute;
  font-family: monospace;
  top: 0;
  left: 15px;
  max-width: 500px;
}

.Debug-Phase {
  font-size: 14px;
  font-weight: bold;
}

.Title {
  font-size: 50px;
  margin-bottom: 30px;
}

.InRound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.Grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Grid-Row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Grid-Image {
  width: 50px;
  height: 50px;
  z-index: 0;
}

.Grid-Square {
  z-index: 100;
  border: 1px solid #333;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}
